<% content_for :title, "Borrowers List" %>

<div class="container-responsive px-3 pt-3">
  <div class="box">

    <div class="row mb-3 align-items-center justify-content-between">
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <u>
            <h3 class="mb-0 mr-2">Borrower List</h3>
          </u>
          <br/>
          <p class="mb-0 ms-2">(sorted by # of loans)</p>
        </div>
      </div>

      <div class="col-auto">
        <%= link_to 'Back to Overview', overview_path, class: 'button is-link' %>
      </div>
    </div>

    <div class="table-container">
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>🚩</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Graduation Year</th>
            <th>Loans</th>
            <th>Created At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <%# <% @borrowers.each do |borrower| %>
            <% @borrowers.sort_by { |borrower| -borrower.loans.count }.each do |borrower| %>
              <tr>
                <td><%= borrower.flagged ? "🚩" : "" %></td>
                <td><%= borrower.first_name %></td>
                <td><%= borrower.last_name %></td>
                <td><%= borrower.email %></td>
                <td><%= borrower.graduation_year %></td>
                <td><%= borrower.loans.count %></td>
                <td><%= borrower.created_at.strftime("%A, %B %e at %l:%M %p %Z") %></td>
                <td>
                  <%= link_to 'View', borrower_path(borrower), class: 'btn btn-outline-info btn-sm' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <style>
      .table-container {
        height: 78vh;
        overflow-y: auto;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
      }

      .table thead th {
        position: sticky;
        top: 0;
        background-color: white;
      }
    </style>
  </div>
