<% content_for :title do %>
  <%= @borrower.name %> - <%= @borrower.email %>
<% end %>

<div class="container-responsive px-3 pt-3">
  <div class="box">
    <h3 class="underline mb-3">Borrower Details:</h3>

    <div class="row">
      <div class="col-md-6">
        <p><strong>Name:</strong> <%= @borrower.flame %></p>
        <p><strong>Email:</strong> <%= @borrower.email %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Flagged:</strong> <%= @borrower.flagged ? 'Yes' : 'No' %></p>
        <p><strong>Has Loan Out Currently:</strong> <%= @borrower.loans.any? { |loan| loan.status == 'loaned' } ? 'Yes' : 'No' %></p>
      </div>
      <div class="col-md-6">
        <p><strong>User Created At:</strong> <%= @borrower.created_at.strftime("%A, %B %e at %l:%M %p") %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Historical Loan Count:</strong> <%= @borrower.loans.count %></p>
      </div>
    </div>

    <div class="table-container mt-2">
      <table class="table is-striped is-hoverable">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Created At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @borrower.loans.sort_by(&:status).each do |loan| %>
            <tr>
              <td><%= loan.reason.humanize %></td>
              <td><%= loan.created_at.strftime("%A, %B %e at %l:%M %p") %></td>
              <td><%= loan.status.humanize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= link_to 'Go Back', borrowers_path, class: 'button is-link' %>
  </div>

  <style>
    .table-container {
      height: 51vh;
      overflow-y: auto;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
    }

    .table thead th {
      position: sticky;
      top: 0;
      background-color: white;
    }

    .underline {
      text-decoration: underline;
    }
  </style>
</div>
