<% content_for :title, "Overview" %>

<div class="container-responsive px-3 pt-3">
  <div class="box">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <u>
            <h3>IT TOOL</h3>
          </u>
        </div>
      </div>
      <div class="col-auto">
        <%= link_to borrowers_path, class: 'button is-small', id: "bn" do %>
          <i class="fa fa-id-card" style="margin-right: 8px;"></i> Borrowers
        <% end %>
        <%= link_to loaners_path, class: 'button is-small', id: "bn" do %>
          <i class="fa fa-laptop" style="margin-right: 8px;"></i> Loaners
        <% end %>
        <%= link_to loans_list_path, class: 'button is-small', id: "bn" do %>
            Loans
        <% end %>
      </div>
    </div>
  </div>

  <div id="div1" class="box">
    <u>
      <h5>Pending Loans: </h5>
    </u>
    <div class="table-container" id="pendingtb">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Check Out</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_loans.each do |loan| %>
            <tr>
              <td><%= loan.reason.humanize %></td>
              <td><%= loan.borrower.flame %></td>
              <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
              <td><%= loan.created_at.strftime("%A, %B %e at %l:%M %p") %></td>
              <td>
                <%= form_with url: checkout_loan_path(id: loan.id), method: :post, local: true do |form| %>
                  <%= form.hidden_field :loan_id, value: loan.id %>
                  <%= form.text_field :asset_tag,
                    placeholder: "Asset ID...",
                    required: true,
                    class: "input reason-input",
      pattern: "^[0-9]{6}$",
                    title: "Please enter exactly 6 digits" %>
                  <%= form.submit "Check Out", class: "button is-small is-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="div2" class="box">
    <u>
      <h5>Out Loaners: </h5>
    </u>
    <div class="table-container" id="outtb">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Loaner ID (F)</th>
            <th>Asset Tag</th>
            <th>Email</th>
            <th>Loaned At</th>
            <th>Loan Reason</th>
            <th>Due In</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @loaners_out.each do |loaner| %>
            <% loan = loaner.current_loan %>
            <% if loan %>
              <tr>
                <td>
                  <%= link_to loaner.freindly_id, loaner_path(loaner) %>
                </td>
                <td><%= link_to loaner.asset_tag, loaner_path(loaner), class: "lnk" %></td>
                <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
                <td><%= loan.loaned_at.strftime("%A, %B %e at %l:%M %p") %></td>
                <td><%= loan.reason.humanize %></td>
                <td><%= time_until_due(loan.due_date) %></td>
                <td>
                  <div class="btn-group">
                    <% if loan.due_date < Time.current %>
                      <%= form_with url: extend_loan_path(id: loan.id), method: :post, local: true, class: "mr-2" do |form| %>
                        <%= form.hidden_field :loan_id, value: loan.id %>
                        <%= form.submit "Extend Loan", class: "button is-small is-warning" %>
                      <% end %>
                    <% end %>
                    <%= form_with url: checkin_loan_path(id: loan.id), method: :post, local: true do |form| %>
                      <%= form.hidden_field :loan_id, value: loan.id %>
                      <%= form.submit "Check In", class: "button is-small is-danger ml-2" %>
                    <% end %>
                    <% if loan.reason === "device_repair" && loan.borrowed_device_repaired === false %>
                      <%= form_with url: repair_loan_path(id: loan.id), method: :post, local: true do |form| %>
                        <%= form.hidden_field :loan_id, value: loan.id %>
                        <%= form.submit "Repair", class: "button is-small is-info ml-2" %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <style>
    #pendingtb {
      height: 25vh;
      overflow-y: auto;
      margin-bottom: -6vh;
    }

    #outtb {
      height: 37vh;
      overflow-y: auto;
    }

    .table thead th {
      position: sticky;
      top: 0;
      z-index: 1;
      background: white;
    }

    .reason-input {
      border: 1.5px solid #6dc492;
      background-color: #f9f9f9;
      border-radius: 4px;
      max-width: 120px;
      max-height: 30px;
    }

    #bn {
      margin-right: 10px;
      margin-left: 10px;
    }

    .lnk {
      color: #000;
      font-style: italic;
      text-decoration: underline;
    }
  </style>
</div>
