<div class="container-responsive px-3 pt-3">

  <div class="box">

    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="d-flex align-items-center">
          <u>
            <h3> IT TOOL </h3>
          </u>
        </div>
      </div>

      <div class="col-auto">
        <%= link_to 'Borrowers', borrowers_path, class: 'button is-small', id: "bn" %>
        <%= link_to 'Loaners (All)', loaners_path, class: 'button is-small', id: "bn" %>
        <%= link_to 'Loans (All)', loans_list_path, class: 'button is-small', id: "bn" %>
        <%= link_to 'Loans (Out)', loans_list_out_path, class: 'button is-small', id: "bn" %>
        <%= link_to 'Loans (Pending)', loans_list_pending_path, class: 'button is-small', id: "bn" %>
      </div>
    </div>

  </div>

  <div id="div1" class="box">
    <u>
      <h5>Pending Loans: </h5>
    </u>
    <div class="table-container" id="pendingtb">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Check Out</th>
          </tr>
        </thead>
        <tbody>
          <% @pending_loans.each do |loan| %>
            <tr>
              <td><%= loan.reason.humanize %></td>
              <td><%= loan.borrower.first_name %> <%= loan.borrower.last_name %></td>
              <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
              <td><%= loan.created_at.strftime("%A, %B %e at %l:%M %p %Z") %></td>
              <td>
                <%= form_with url: checkout_loan_path(id: loan.id), method: :post, local: true do |form| %>
                  <%= form.hidden_field :loan_id, value: loan.id %>
                  <%= form.text_field :reason, placeholder: "Asset ID...", required: true, class: "input reason-input" %>
                  <%= form.submit "Check Out", class: "button is-small is-success" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="div2" class="box">
    <u>
      <h5>Out Loaners: </h5>
    </u>
    <div class="table-container" id="outtb">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Loaner ID</th>
            <th>Asset Tag</th>
            <th>Email</th>
            <th>Loaned At</th>
            <th>Time Before Due</th>
            <th>Check In</th>
          </tr>
        </thead>
        <tbody>
          <% @loaners_out.each do |loaner| %>
            <% loan = loaner.current_loan %>
            <% if loan %>
              <tr>
                <td><%= loaner.loaner_id %></td>
                <td><%= loaner.asset_tag %></td>
                <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
                <td><%= loan.loaned_at.strftime("%A, %B %e at %l:%M %p %Z") %></td>
                <td><%= time_ago_in_words(loan.loaned_at) %> ago</td>
                <td>
                  <%= form_with url: checkin_loan_path(id: loan.id), method: :post, local: true do |form| %>
                    <%= form.hidden_field :loan_id, value: loan.id %>
                    <%= form.submit "Check In", class: "button is-small is-danger" %>
                  <% end %>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <style>
    #pendingtb {
      height: 25vh;
      overflow-y: auto;
      margin-bottom: -6vh;
    }

    #outtb {
      height: 37vh;
      overflow-y: auto;
    }

    .table thead th {
      position: sticky;
      top: 0;
      z-index: 1;
      background: white;
    }

    .reason-input {
      border: 1.5px solid #6dc492;
      background-color: #f9f9f9;
      border-radius: 4px;
      max-width: 120px;
      max-height: 30px;
    }

    #bn {
      margin-right: 10px;
      margin-left: 10px;
    }
  </style>
