<% content_for :title do %>
  <%= @loaner.asset_tag %> - <%= @loaner.serial_number %>
<% end %>

<div class="container-responsive px-3 pt-3">
  <div class="box">
    <div class="d-flex justify-content-between align-items-center mb-1">
      <h3 class="underline mb-0">Loaner Details:</h3>
      <%= link_to 'Go Back', loaners_path, class: 'button is-small is-link' %>
    </div>

    <div class="loaner-details">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-item mb-2">
            <strong>Is Active?</strong>
            <span><%= @loaner.active ? "Yes" : "No" %></span>
          </div>
          <div class="detail-item mb-2">
            <strong>Unique Loaner ID</strong>
            <span><%= @loaner.loaner_id %></span>
          </div>
          <div class="detail-item mb-2">
            <strong>Friendly ID</strong>
            <span><%= @loaner.freindly_id %></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-item mb-2">
            <strong>Status</strong>
            <span><%= @loaner.status.capitalize %></span>
          </div>
          <div class="detail-item mb-2">
            <strong>Asset Tag</strong>
            <span><%= @loaner.asset_tag %></span>
          </div>
          <div class="detail-item">
            <strong>Serial Number</strong>
            <span><%= @loaner.serial_number %></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-item">
            <strong>Loan Count</strong>
            <span><%= @loaner.loans.count %></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="cat">
            <strong>Created At</strong>
            <span><%= @loaner.created_at.strftime("%A, %B %e at %l:%M %p") %></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box mt-3">
    <u>
      <h3>Loan History</h3>
    </u>
    <div class="table-container" id="lh">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Borrower Name</th>
            <th>Borrower Email</th>
            <th>Loaned At</th>
            <th>Returned At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @loans.each do |loan| %>
            <tr>
              <td><%= loan.reason.humanize %></td>
              <td><%= loan.borrower.first_name %> <%= loan.borrower.last_name %></td>
              <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
              <td><%= loan.loaned_at.strftime("%A, %B %e at %l:%M %p") if loan.loaned_at %></td>
              <td><%= loan.returned_at ? loan.returned_at.strftime("%A, %B %e at %l:%M %p") : "Currently Out" %></td>
              <td><%= loan.status.capitalize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .table-container {
    height: 30vh;
    overflow-y: auto;
  }

  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }

  #lh {
    height: 43vh;
  }

  .cat {
          display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
  }

   .underline {
      text-decoration: underline;
    }
    .loaner-details {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
    .detail-item {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      border: 1px solid #e3e3e3;
      border-radius: 5px;
      width: 100%;
      box-sizing: border-box;
    }
    .detail-item strong {
      width: 50%;
    }
    .detail-item span {
      width: 50%;
      text-align: right;
    }
</style>
