<% content_for :title do %>
  <%= @loaner.asset_tag %> - <%= @loaner.serial_number %>
<% end %>

<div class="container-responsive px-3 pt-2">
  <div class="box">

    <div class="row mb-1">
      <div class="col">
        <u>
          <h3>Loaner Details: </h3>
        </u>
      </div>
      <div class="col-auto">
        <%= link_to 'Go Back', loaners_path, class: 'button is-small is-link' %>
      </div>
    </div>

    <table class="table table-sm">
      <tbody>
        <tr>
          <th>Is Active?</th>
          <td><%= @loaner.active ? "Yes" : "No" %></td>
        </tr>
        <tr>
          <th>Unique Loaner ID</th>
          <td><%= @loaner.loaner_id %></td>
        </tr>
        <tr>
          <th>Friendly ID</th>
          <td><%= @loaner.freindly_id %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td><%= @loaner.status.capitalize %></td>
        </tr>
        <tr>
          <th>Asset Tag</th>
          <td><%= @loaner.asset_tag %></td>
        </tr>
        <tr>
          <th>Serial Number</th>
          <td><%= @loaner.serial_number %></td>
        </tr>
        <tr>
          <th>Loan Count</th>
          <td><%= @loaner.loans.count %></td>
        </tr>
        <tr>
          <th>Created At</th>
          <td><%= @loaner.created_at.strftime("%A, %B %e at %l:%M %p %Z") %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box mt-4">
    <u>
      <h3>Loan History</h3>
    </u>
    <div class="table-container">
      <table class="table is-outlined is-hoverable">
        <thead>
          <tr>
            <th>Reason</th>
            <th>Borrower Name</th>
            <th>Borrower Email</th>
            <th>Loaned At</th>
            <th>Returned At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @loaner.loans.each do |loan| %>
            <tr>
              <td><%= loan.reason.humanize %></td>
              <td><%= loan.borrower.first_name %> <%= loan.borrower.last_name %></td>
              <td><%= link_to loan.borrower.email, borrower_path(loan.borrower) %></td>
              <td><%= loan.loaned_at.strftime("%A, %B %e at %l:%M %p %Z") if loan.loaned_at %></td>
              <td><%= loan.returned_at ? loan.returned_at.strftime("%A, %B %e at %l:%M %p %Z") : "Currently Out" %></td>
              <td><%= loan.status.capitalize %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<style>
  .table-container {
    height: 30vh;
    overflow-y: auto;
  }

  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
  }
</style>
